{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "singleQuote": true,
  "useTabs": true,
  "arrowParens": "always"
}
