/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~materialize-css/sass/materialize';

$ladder-header: #323232;
$ladder-highlight: #ff6c60;
#main-heading {
  background-color: white;
  text-align: center;
}

#main-heading .front-logo {
  max-width: 85%;
  opacity: 0;
}

a {
  cursor: pointer;
}

.progress .determinate {
  transition: width .1s linear;
}

.joined_inputs {
  display: flex;
  flex-direction: row;
  .btn {
    margin-left: 0;
    margin-right: 0;
  }
}

.bottom_bar {
  .connecties {
    .connections {
      @extend .col, .m4;
    }
    .dolphin_settings {
      @extend .col, .m5;
    }

  }
}

.collection-item {
  .footer {
    margin: 4px -20px -10px -20px;
    text-align: center;
  }
}

.btn {
  &.not_set,
  &.set {
    &:after {
      margin-left: 4px;
    }
  }
  &.not_set {
    &:not([disabled]) {
      @extend .red, .lighten-2;
    }

    &.no_check:after {
      content: '';
    }
    &:after {
      content: '❌';
    }
  }
  &.set {
    &:not([disabled]) {
      @extend .green, .lighten-2;
    }
    &.no_check:after {
      content: '';
    }
    &:after {
      content: '✔';
    }
  }
}

.btn.remove_path {
  &:after {
    margin-left: 0;
  }
  padding: 0 8px;
}

.error {
  @extend .red-text, .lighten-2;
}

.error_button {
  @extend .red, .lighten-2;
}

.error_reason {
  font-size: smaller;
}

.nowrap {
  white-space: nowrap;
}

.set_button:not([disabled]) {
  @extend .green, .lighten-2;
}

select.browser-default {
  border-color: black;
}

h6,
.connection_state {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
}

h6 {
  pointer-events: none;
  user-select: none;
}

.progress_status {
  display: flex;
  flex-direction: column;

  .connection_state {
    white-space: nowrap;
  }
  .switch {
    display: flex;
    flex-direction: row;
    justify-content: center;

    label {
    }
  }
  .what_am_i {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    display: block;
    text-align: center;
    font-size: x-small;
    margin-top: 4px;
  }
  &:hover {
    .what_am_i {
      opacity: 1;
    }
  }
}

.websocket {
  position: relative;
}

.login_information {
  @extend .teal, .white-text;
  z-index: 2;

  .btn {
    @extend .white-text;
  }
  padding: 0 0 0 8px;
  border-radius: 0 0 0 8px;
  position: fixed;
  top: 0;
  right: 0;
  .logged_in_as {
    .fluff {
    }
    .username {
      font-weight: 700;
    }
    &:after {
      content: '|';
      margin: 0 8px;
    }
  }
  .logout {
  }
}

.login_form {
  .error,
  .retrieve_code {
    user-select: none;
  }
  .error {
    pointer-events: none;
  }
}

.page-title {
  user-select: none;
  pointer-events: none;
  font-weight: 200;

  .site_name {
    display: flex;
    justify-content: center;
  }
  .logo-smash {
    color: $ladder-header;
  }
  .logo-ladder {
    color: $ladder-highlight;
  }
  .logo-smash,
  .logo-ladder {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo-dolphin {
    display: block;
    position: relative;
    font-size: 2rem;
    .beta {
      position: absolute;
      top: -0.5em;
      font-size: 40%;
    }
  }
}

.build {
  @extend .collection-item;
}

.builds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  overflow: visible;

  .build_image {
    display: inline;
    max-height: 24px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .build {
    padding-left: 0;
    padding-right: 0;

    .download_pls {
      display: flex;
      flex-direction: row;
      .download_description {
        margin-left: 16px;
      }

      .build_name {
        font-weight: bold;
      }
    }

    .enter_join_code {
      display: flex;
      .cancel {
        @extend .red, .lighten-2;
      }
      .join_code_input {
        display: inline-block;
        flex: 1 1 0;
      }
    }

    .dolphin_actions {
      flex: 1;
      display: flex;
      flex-wrap: nowrap;
      button {
        margin-right: 4px;
      }
    }

    .build_actions {
      margin-top: 6px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .host_code {
      text-align: right;
      align-self: center;
    }

    .download_build {
      .download_arrow {
        display: none;
      }
    }
    .select_game_container {
    }
    .select_game {
      display: inline-block;
      width: auto;
      min-width: 125px;
      border-color: rgba(0, 0, 0, 0.4);
    }

    .path_button {
      flex: 0 0 auto;
      width: 144px;
    }

    .badge {
      flex: 1;
      text-align: right;
    }

    .build_heading {
      display: flex;

      .remove_build_path {
        flex: 1 0 auto;
        text-align: right;
        justify-content: flex-end;
        display: flex;
        align-items: center;
      }

      .build_name {
        color: inherit;
        margin-left: 16px;
        font-size: 19px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin-right: 16px;

        &.has_path:hover {
          @extend .blue-text, .lighten-2;
          cursor: pointer;
        }
      }

      .has_path i,
      .no_path i {
      }
    }
  }
}

.replay_browser {
  position: relative;

  .replay_list_updating_progress {
    position: absolute;
    width: 100%;
    left: 0;
    top: -8px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    user-select: none;

    li {
      &.active {
        @extend .green, .lighten-2;
      }

      &:hover:not(.disabled) {
        @extend .green, .lighten-4;
      }
    }

  }

  .detailed_stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 0;

    .stat {
      display: flex;
      justify-content: space-between;

      .value {
        @extend .blue-text, .darken-2;
        margin-left: 16px;
        font-weight: 700;
      }
    }
  }

  .stocks {
    display: flex;
    flex-direction: row;
    cursor: default;
    justify-content: space-between;
    flex-wrap: wrap;

    .stock_icon {
      &.dead {
        opacity: .4;
      }

      &.self_destructed:after {
        content: "SD";
      }

      .damage {
        display: none;
        &.active {
          display: block;
          cursor: default;
          font-size: 9px;
        }
        &:after {
          content: "%";
        }
      }
    }
  }

  &.detailed {
    .replay_content {
      .back_button {
        margin-bottom: 16px;
      }
      .game_data {
        flex-direction: row;

        .details {
          order: 0;
          flex-direction: column;
          justify-content: initial;
          margin-right: 16px;
        }
      }
      .stocks {
        order: 1;
      }
    }
  }

  .replay_content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .game_data {
      display: flex;
      flex-direction: column;

      .stage {
        margin-right: 16px;
      }
      .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .match_time {
        display: flex;
        flex-direction: column;
        align-self: center;
      }
      .when {
        font-size: smaller;
      }
    }
    .characters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .character {
        margin: 0 -4px;
        padding: 0 8px;

        &:after {
          content: " vs ";
        }
        &:last-child:after {
          content: "";
        }
      }
    }
  }

  .action_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .btn {
      @extend .btn-flat;
      border-radius: 0;
    }

    .main_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      .input-field {
        margin-bottom: 0;
      }

      .title {
        flex: 1 0 100%;
      }

      .file_name_holder {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .file_name {
      }
    }

  }

  .stage {
    img {
      height: 64px;
      border-radius: 4px;
    }
  }

  .collection-item {
    display: flex;

    .input-field {
      margin-top: 0;
      margin-bottom: 4px;
    }

    .secondary-content {
      flex: 1;
      text-align: right;
    }
  }
}

.replays {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  .connection_state {
    white-space: normal;
    min-height: 30px;
  }

  .collection {
    min-height: 426px;
  }
}

.file_paths {
  h6 {
    text-align: left;
    font-size: 14px;
    margin-top: 16px;
  }

  .hint_text {
    font-size: x-small;
  }

  .set_melee_iso_path {
    flex-wrap: wrap;

    .iso_path_display {
      flex: 1 0 100%;
      .iso_path {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          margin-right: 8px;
        }

        .text {
          word-break: break-word;
          font-size: smaller;
        }

      }
    }
  }

  .rom_paths {
    margin-top: 8px;
  }

  .rom_path {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    align-items: center;

    .path {
      margin-left: 8px;
      font-size: 11px;
      flex: 1;
      max-width: 100%;
      color: black;
      text-align: left;
      white-space: inherit;
      word-break: break-all;
    }

    button {
      padding: 2px 10px;
      line-height: inherit;
      height: auto;
    }
  }
  .search_subdirectories {
    margin-top: 8px;
  }
}

.auto_updates {
  text-align: center;
}
